URxvt.scrollBar: false
URxvt.font: xft:Droid Sans Mono:size=10
URxvt*termName: xterm-256color
URxvt.perl-ext-common: default
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    3
URxvt.tabbed.tab-bg:    0
URxvt.foreground: White
URxvt.background: Black
URxvt.iconFile: /usr/share/pixmaps/urxvt_48x48.xpm
URxvt.saveLines: 10000
